In [1]:
import pandas as pd
import numpy as np
from scipy import stats

A F&B manager wants to determine whether there is any significant difference in the diameter of the cutlet between two units. A randomly selected sample of cutlets was collected from both units and measured? Analyze the data and draw inferences at 5% significance level. Please state the assumptions and tests that you carried out to check validity of the assumptions

### business problem

Is there significant difference in the diameter of the cutlet ?

α == 0.05 (95% Confidence)

Y == Continious
X == Discrete

Is Y1 and Y2 normal ?

H0 = Y1 and Y2 are normal
H1 = Y1 and Y2 are not normal

In [5]:
data = pd.read_csv("D:\ExcelR\Assigments\Hypothesis_Testing\Cutlets.csv")
data.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

## Normality test

In [6]:
stats.shapiro(data["Unit A"])

ShapiroResult(statistic=0.9649458527565002, pvalue=0.3199819028377533)

P value for Unit A == 0.32 > α

In [7]:
stats.shapiro(data["Unit B"])

ShapiroResult(statistic=0.9727300405502319, pvalue=0.5224985480308533)

P value for Unit B == 0.52 > α

### HO is accepted. Thats is both Y1 and Y2 are normal

External condition are same.Thus we can perform Paired T Test

## Paired T test

H0 == Mean for Y1 and Y2 are equal (There is no significance difference between diameter of the Culets)

H1 == Mean for Y1 and Y2 are not equal (There is a significance difference between diameter of the Culets)

In [8]:
stats.ttest_rel(data["Unit A"], data["Unit B"])

Ttest_relResult(statistic=0.7536787225614314, pvalue=0.4562300768038412)

### P value of the Paired T Test is == 0.45 > α

## Thus H0 is accepted.

Mean of both Y1 and Y2 are equal